body{
    margin:0;
    height:200vh;
}

.left_navbar{
    width:175px;
    height:100vh;
    background-color: black;
    position:fixed;
    top:0;
    /* 未展開效果 */
    left:-100px;
    /* 展開效果 */
    /* left:0px;  */
    z-index: 99;
    color:white;


}

.left_navbar:hover{
    transition-duration: 1s;

}


/* hover位置 */
.left_navbar .logo{ 
    /* display: flex;
    justify-content: center; */
    margin-top: 50px;
    /* background-color: red; */
    position: relative;
    /* 未展開效果 */
    left:109.5px;
    /* 展開效果 */
    /* left:59.5px; */
}

.left_navbar img{ 
    width:56px;
    /* position: relative;
    left: 50%;
    transform: translate(-50%, 0); */
    /* margin-left: 50px; */
    /* margin-bottom: 50px; */
}

.left_navbar .navitems{
    /* 未展開效果 */
    display: none;   
}
.left_navbar .navitems.active{
 display: block;   
}

.left_navbar ul{
    list-style:none;
    font-family:"Adobe 仿宋 Std R";
    font-size:20px;

    padding: 0;
    margin: 0 auto;
    display: table;
    margin-top: 50px;
}



.left_navbar li{
    margin-bottom: 50px;
    /* background-color: blue; */
}

.letterSpace{
    letter-spacing: 0.35em;
}

.right_content{
    width:calc(100% - 100px);
    height:100vh;
    margin-left:100px;
    /* background-color: chocolate; */
}

